---
import { FileUploader } from '../components/FileUploader';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>EdgeStore with Astro</title>
	</head>
	<body>
		<h1>EdgeStore with Astro</h1>
		<FileUploader client:load />
	</body>
</html>
